@import '../../colors.scss';

.title {
  width: 100%;
  text-align: center;
  color: white;
  background: $secondary-blue;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 16px 0 16px 0;
}

.todos {
  margin-left: 5%;

  p {
    color: black;
    font-size: x-large;
  }
}

.list-container {
  margin: 0;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: lightgray;

  mat-card {
    padding: 0;
    margin: 2%;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    height: fit-content;

    mat-card-title {
      padding: 2.5%;
      color: white;
      margin: 0;
      background-color: $main-blue;

      button {
        background-color: $main-blue;
        color: white;
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      color: $main-blue;
      justify-content: center;

      mat-list {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.submit {
  background: white;
  color: lightgreen;
  :hover {
    color: green;
  }
}

.cancel {
  background: white;
  color: pink;
  :hover {
    color: red;
  }
}

.newTodoButton {
  width: 100%;
  margin: 0;
  height: 48px;
  background: $main-blue;
  color: white;
}

.addTaskInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: fit-content;
  align-items: center;
  white-space: nowrap;
  mat-form-field {
    max-width: 147px;
  }
}

.task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: large;
    margin: 0 0 0 16px;
  }
}

.completedTask {
  text-decoration: line-through;
  color: gray;
}

.buttons {
  float: right;
  align-items: center;
}

.taskName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editButton {
  background: white;
  color: lightblue;
  :hover {
    color: $secondary-blue;
  }
}

.deleteButton {
  background: white;
  color: pink;
  :hover {
    color: red;
  }
}
