@import '../colors.scss';

.title {
    width: 100%;
    text-align: center;
    color: $main-blue;
    font-family: fantasy;
}

.todos {
    margin-left: 5%;
    p {
        color: black;
        font-size: x-large;
    }
}

.list-container {
    margin: 5%;
    justify-content: center;
    display: flex;
    mat-card {
        padding: 0;
        width: 33%;
        mat-card-title {
            padding: 5%;
            color: $main-blue;
        }
        mat-card-content {
            display: flex;
            flex-direction: column;
            color: $main-blue;
            justify-content: center;
            form {
                mat-form-field {
                    width: 50%;
                    margin-left: 5%;
                }
            }
        }
    }
}

.submit {
    background: green;
    color: white;
}

.cancel {
    background: red;
    color: white;
}

.newTodoButton {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
}