<div class="page">
  
  
  <h1 class="title">{{title}}</h1>
  
  
  <div class="list-container">
    <mat-card>
      <mat-card-title>{{list.name}}</mat-card-title>
      <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list class="todos">
        <mat-list-item *ngFor="let task of list.todos">
          <div *ngIf="!task.editing">{{task.task}}</div>
          <form (submit)="addTodo()" *ngIf="task.editing">
              <mat-form-field >
                <input matInput name="task" placeholder="New Task" [(ngModel)]="task.task" autofocus="true">
              </mat-form-field>
              <button type="submit" mat-button class="submit" (click)="saveTodo(task)"><mat-icon>post_add</mat-icon></button>
              <button type="cancel" mat-button class="cancel" (click)="cancelTodo(task)"><mat-icon>cancel</mat-icon></button>
            </form>
          <mat-divider></mat-divider>
        </mat-list-item>
        <button mat-button class="newTodoButton" (click)="addNewTodo()">
          <mat-icon >add_circle</mat-icon>
        </button>
      </mat-list>
    </mat-card-content>
  </mat-card>  
</div>
</div>