<h1 class="title">{{title}}</h1>


<div class="list-container">
  <mat-card>
    <mat-card-title>{{list.name}}</mat-card-title>
    <mat-card-content>
      <mat-list *ngFor="let task of list.todos" class="todos">
        <mat-list-item>{{task.task}}</mat-list-item>
      </mat-list>
      <form *ngIf="adding" (submit)="addTodo()">
        <mat-form-field >
          <input matInput name="task" placeholder="New Task" [(ngModel)]="newTodo.task" autofocus="true">
        </mat-form-field>
        <button type="submit" mat-button class="submit" (click)="addTodo()"><mat-icon>post_add</mat-icon></button>
        <button type="cancel" mat-button class="cancel" (click)="cancelTodo()"><mat-icon>cancel</mat-icon></button>
      </form>
      <button mat-button *ngIf="!adding" class="newTodoButton">
        <mat-icon (click)="displayTodoInput()">add_circle</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
 
</div>