.page {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  mat-sidenav-container {
    width: 100%;

    mat-sidenav {
      width: 20%;
    }

    mat-sidenav-content {
      width: 100%;
    }
  }
}

.sidebar {
  width: 20%;
  min-width: 200px;
}

.main {
  width: 100%;
}
